/*----------------------------------------------------------------------------------Global style*/
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #0fbd3d;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  object-fit: cover;
}
.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}
section .container {
  border: 2px solid blue;
  background-color: #ffffff;
  min-height: 550px;
  border-radius: 15px;
}
button {
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #0d11de;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.2;
  transition: background-color 250ms ease-in-out;
}
button:focus,
button:hover {
  background-color: #48497a;
}

/*----------------------------------------------------------------------------------Game-page*/
.title-game {
  text-align: center;
  padding: 30px 0;
}
.game-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.item {
  flex-basis: calc((100% - 30px) / 4);
  height: calc((100% - 20px) / 3);
}

/*-----------------------------------------------------------------------------------Win-page*/
.win {
  display: none;
}
.win .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.win .text {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.3;
}
.try-btn {
  width: 250px;
  height: 80px;
}
